@import '../mixins/breakpoints';
@import '../mixins/boxsizing';

$layout-bg: #ccc;

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

.main-wrapper,
%main-wrapper {
  width: 100%;
  @include  respond-to(large) {
    width: 75%;
  }
  @include  respond-to(medium) {
    width: 90%;
  }
  @include  respond-to(small) {
    width: 100%;
  }
}

body {
  @extend %main-wrapper;
}

.layout-wrapper {
  background-color: $layout-bg;
  margin: 0 auto;
}
